@media (max-width: 600px){
    *{
        margin-top: 0px;
        margin-right: 0;
    }
    .navbar-toggler{
        margin-right: 2%;
    }
    .me-auto{
        margin-left: 0;
        text-align: left;
    }
    .about{
        margin-left: 0;
    }
    .services{
        margin-left: 0;
    }
    .pages{
        margin-left: 0;
        margin-bottom: 0;
    }
    .contact{
        margin-left: 0;
    }
    .navbar-collapse{
        top: 0;
        background-color: white;
        padding-left: 10%;
    } 
    .quote{
        display: none;
    }
    
    div.navi1{
        margin-top: 0;
        display: none;
    }
    .navbari{
        margin-top: 0;
        position: sticky;
    }
    .car1{
        display: none;
    }
    .car2{
        display: none;
    }
    .carou1{
        height: 500px;
    }
    .content1{
        width: 70%;
        height: 250px;
        position: absolute;
        text-align: center;
        margin:130px 15% 0 15%;
    }
    .content1 h1{
        font-size: 40px;
        line-height: 1.2; 
    }
    .content1 button{
        width: 80%;
        height: 60px;
        padding-left: 30px;
    }
    .c1{
        height: 500px;
         object-fit: cover;
    }
    .carou2{
        height: 500px;
    }
    .content2{
        width: 70%;
        height: 250px;
        position: absolute;
        text-align: center;
        margin:130px 15% 0 15%;
    }
    .content2 h1{
        font-size: 40px;
        line-height: 1.2; 
    }
    .content2 button{
        width: 80%;
        height: 60px;
        padding-left: 30px;
    }
    .c2{
        height: 500px;
         object-fit: cover;
    }
    .about1{
        width: 100%;
        height: 600px;
    }
    .main{
        width: 100%;
        height: 600px;
    }
    .con1{
        width: 84%;
    }
    .con2{
        width: 84%;
        margin-bottom: 30px;
        margin-left: 8%;
    }
    .con3{
        width: 84%;
        margin-bottom:50px;
    }
    .about2{
        width: 100%;
        height: 1100px;
    }
    .about2l{
        width: 84%;
        height: 400px;
    }
    .about2d{
        width: 68%;
        margin-left: 40%;
    }
    .about2r{
        margin-top: 20px;
        width: 84%;
    }
    }